CardView {
    width: 90%;
    background-color: rgb(206, 206, 206);
    border-radius: 10px;
    margin-top: 40px;
}

.bienvenido {
    margin: 25px;
    font-size: 20sp;
}

.hr-dark {
    height: 1dp;
    background-color: black;
    width: 100%;
}

.homePageLabels {
    color: black;
    font-size: 20sp;
    padding-top: 8;
    font-family: fontawesome-webfont;
    font-weight: bold;
    text-align: left;
    vertical-align: middle;
    horizontal-align: center;
}

.details-label {
    color: black;
    font-style: italic;
    font-size: 14px;
    margin-top: 5%;
    margin: 20;
}

.homePageButton {
    background-color: transparent;
    color: #c49000;
    ;
    
}

TabView {
    tab-text-color: white;
    selected-tab-text-color: black;
    tab-background-color: #fbc02d;
}